.container{
    width: min(100%, 1440px);
    margin: auto;
}

/* header */
header{
    width: calc(1180 / 1440 * 100%);
    display: flex;
    padding: 6px 0px;
    justify-content: space-between;
    align-items: center;
}

.header_text{
    color: #FA793C;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.header1{
    display: flex;
    align-items: center;
    column-gap: 14px;
}

.logo{
    width: 38px;
    height: 38px;
}

.header2{
    display: flex;
    align-items: center;
    column-gap: 40px;
}

ul {
    display: flex;
    column-gap: 32px;
}

li{
    font-family: ABeeZee;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.fa-circle-user{
    font-size: 24px;

}